@font-face {
  font-family: "iconfont"; /* Project id 3505787 */
  src: url('iconfont.woff2?t=1669876294186') format('woff2'),
       url('iconfont.woff?t=1669876294186') format('woff'),
       url('iconfont.ttf?t=1669876294186') format('truetype'),
       url('iconfont.svg?t=1669876294186#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\eca0";
}

.icon-jiankong:before {
  content: "\e620";
}

.icon-jiankong-copy:before {
  content: "\eb9a";
}

.icon-export:before {
  content: "\e65b";
}

.icon-upload:before {
  content: "\e65c";
}

.icon-import:before {
  content: "\e65d";
}

.icon-calendar:before {
  content: "\e6e1";
}

.icon-down:before {
  content: "\e601";
}

.icon-up:before {
  content: "\e603";
}

.icon-reset:before {
  content: "\e648";
}

.icon-cancel-full-screen:before {
  content: "\eb98";
}

.icon-full-screen:before {
  content: "\eb99";
}

.icon-setup:before {
  content: "\e646";
}

.icon-white:before {
  content: "\e632";
}

.icon-night:before {
  content: "\e633";
}

.icon-fixed:before {
  content: "\e63f";
}

.icon-search:before {
  content: "\e62f";
}

.icon-unfold:before {
  content: "\e602";
}

.icon-shrink:before {
  content: "\e60a";
}

.icon-phone:before {
  content: "\e8b9";
}

.icon-gitee:before {
  content: "\e60d";
}

.icon-github:before {
  content: "\e691";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e882";
}

.icon-valid-code:before {
  content: "\e636";
}

.icon-password:before {
  content: "\e60c";
}

.icon-dashboard-copy:before {
  content: "\eb9b";
}

.icon-dashboard:before {
  content: "\e78d";
}

.icon-user:before {
  content: "\e7ae";
}

