@font-face {
  font-family: "iconfont"; /* Project id 3505787 */
  src: url('iconfont.woff2?t=1662446028976') format('woff2'),
       url('iconfont.woff?t=1662446028976') format('woff'),
       url('iconfont.ttf?t=1662446028976') format('truetype'),
       url('iconfont.svg?t=1662446028976#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel-full-screen:before {
  content: "\eb98";
}

.icon-full-screen:before {
  content: "\eb99";
}

.icon-setup:before {
  content: "\e646";
}

.icon-white:before {
  content: "\e632";
}

.icon-night:before {
  content: "\e633";
}

.icon-fixed:before {
  content: "\e63f";
}

.icon-search:before {
  content: "\e62f";
}

.icon-close:before {
  content: "\eb6a";
}

.icon-unfold:before {
  content: "\e602";
}

.icon-shrink:before {
  content: "\e60a";
}

.icon-phone:before {
  content: "\e8b9";
}

.icon-gitee:before {
  content: "\e60d";
}

.icon-github:before {
  content: "\e691";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-qq:before {
  content: "\e882";
}

.icon-valid-code:before {
  content: "\e636";
}

.icon-password:before {
  content: "\e60c";
}

.icon-dashboard:before {
  content: "\e78d";
}

.icon-user:before {
  content: "\e7ae";
}

