/* 登录页 */
@loginBg: #2d3a4b;


// 侧边栏宽度
@sideBarWidth: 210px;
// 侧边logo栏高度
@sideBarLogoContainerHeight: 50px;
// 侧边logo宽高
@sideBarLogoWidth: 32px;
@sideBarLogoHeight: 32px;
// 菜单背景色
@menuBg: #304156;
// 菜单文字颜色
@menuText: #bfcbd9;
// 菜单激活文字颜色
@menuActiveText: #409eff;


// 导出变量
:export {
  sideBarWidth: @sideBarWidth;
  menuBg: @menuBg;
  menuActiveText: @menuActiveText;
  menuText: @menuText;
}