@activate-background-color: #0052d9;
@menu-unfold-width: 232px;
@menu-fold-width: 64px;
@nav-bar-height: 40px;
@tags-view-height: 34px;


// 导出变量
:export {
  activate-background-color: @activate-background-color;
  nav-bar-height: @nav-bar-height;
  tags-view-height: @tags-view-height;
  menu-unfold-width: @menu-unfold-width;
  menu-fold-width: @menu-fold-width;
}